@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding: 50px 30px 50px 30px; */
    padding: 30px 60px;
    font-family: "Montserrat", sans-serif;
}

header nav a{
    background-color: darkblue;
    color: antiquewhite;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
}

section#apresentacao{
    display: flex;
    align-items: center;
    padding: 50px 80px 0px 80px;
}

#primeira-div{
    font-family: "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#primeira-div h2{
    font-size: 30px;
}

#primeira-div p{
    font-size: 15px;
}

#primeira-div button{
    background-image: linear-gradient(90deg, #FF0505, #FF8F0F);
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 15px;
    border: none;
    color: white;
    font-weight: bold;
}

#cards{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 30px 50px;
}

.bulbasaur{
    width: 300px;
    padding: 15px 10px;
    text-decoration: none;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-image: linear-gradient(90deg, green, purple);
}

.charmander{
    width: 300px;
    padding: 15px 10px;
    text-decoration: none;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: orange;
}

.charizard{
    width: 300px;
    padding: 15px 10px;
    text-decoration: none;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-image: linear-gradient(90deg, orange, grey);
}

.squirtle{
    width: 300px;
    padding: 15px 10px;
    text-decoration: none;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: aqua;
}

.caterpie{
    width: 300px;
    padding: 15px 10px;
    text-decoration: none;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: lightgreen;
}

.butterfree{
    width: 300px;
    padding: 15px 10px;
    text-decoration: none;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-image: linear-gradient(90deg, lightgreen, grey);
}

section#cards .cards-card{
    width: 300px;
    padding: 15px 10px;
    text-decoration: none;
    border: 2px solid black;
}

.cards-card a{
    text-decoration: none;
    
}